<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common :: common-head"/>

<body>
<!-- ##### Header Area Start ##### -->
<div th:replace="common/common :: common-header"/>
<!-- ##### Header Area End ##### -->

<!-- ##### Treading Post Area Start ##### -->
<div th:replace="common/common :: treading-post-area"/>
<!-- ##### Treading Post Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="contact-content mb-100">
                    <h4 class="mb-50">About Us</h4>
                    <p>The culture of sweetening the mouth of a guest is ingrained in the lifestyle of all human beings
                        from the far reaches of the Asian continent to the tips of the South American rainforest. This
                        principle was the founding principle of the Vahutordid where our pleasure of wowing the
                        imagination and the taste buds lies at the core of our DNA! We live on the smiles of the
                        satisfied!
                        Good cakes are founded on three principles, they bring a smile, they are pure and they are
                        tasty! We believe cakes are a must for any occasion as they add flair and grandeur to any
                        occasion whether it’s the state of origin or origin of a state! Our aim is to ensure that every
                        cake fulfills these principles and we are constantly striving to use the purest of ingredients
                        and the best of techniques.
                        At The Vahutordid you can rest assured that we will bend over backwards to ensure that you get
                        what you want, we cater for a range of occasions from weddings to birthdays and our qualified
                        chefs can make any cake to your specifications!
                        We use the purest of ingredients to ensure the best of taste. Try us out today!
                        </p>
                    <div class="row align-items-center mt-30 mb-50">
                        <div class="col-12 col-lg-4">
                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="icon mr-15">
                                    <img src="img/core-img/placeholder.png" alt=""/>
                                </div>
                                <p>Tartu, Estonia</p>
                            </div>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="icon mr-15">
                                    <img src="img/core-img/smartphone.png" alt=""/>
                                </div>
                                <p>+372 696 969 9697</p>
                            </div>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="icon mr-15">
                                    <img src="img/core-img/message.png" alt=""/>
                                </div>
                                <p>vahutordidcakeshop@gmail.com</p>
                            </div>
                        </div>


                        <div class="col-12 col-lg-8">
                            <!-- ##### Google Maps ##### -->
                            <div class="map-area">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d66947.04335155922!2d26.662505784246342!3d58.37493293640799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eb36d8d55d3df7%3A0x400b36d18fc6d10!2sTartu%2C%20Estonia!5e0!3m2!1sen!2sau!4v1614140812363!5m2!1sen!2sau"
                                        width="600" height="450" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area author-widget mb-30">
                        <div class="background-pattern bg-img"
                             style="background-image: url(/img/core-img/pattern2.png);">
                            <div class="author-thumbnail">
                                <img src="img/bg-img/23.jpg" alt=""/>
                            </div>
                            <p>My name is <span>Jaana</span>, I’m a passionate cook with a love for mousse product's</p>
                        </div>
                        <div class="social-info">
                            <a href="https://www.facebook.com/vahu.tordid" target="_blank" data-toggle="tooltip"
                               data-placement="bottom" title="Facebook"><i class="fa fa-facebook"
                                                                           aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/vahu_tordid/" target="_blank" data-toggle="tooltip"
                               data-placement="bottom" title="Instagram"><i class="fa fa-instagram"
                                                                            aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i
                                    class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end of container -->
<div th:replace="common/header2 :: footer"/>
<div th:replace="common/common :: body-bottom-scripts"/>

</body>
</html>
